.oxmod-wxiconlist {
  /* CSS */
}
.oxmod-wxiconlist ul {
  background-color: #efeff4;
  list-style: none;
  padding: 0;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
}
.oxmod-wxiconlist li {
  margin-left: 10px;
  padding: 10px 0 10px 40px;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  border-bottom: solid 1px #ccc;
}
.oxmod-wxiconlist li img {
  vertical-align: middle;
  float: left;
  margin-left: -40px;
  width: 30px;
}
.oxmod-wxiconlist li:last-child {
  border-bottom-style: none;
}
.oxmod-wxiconlist li a {
  color: #666;
  text-decoration: none;
}
