.oxmod-wxiconlist {
  /* CSS */
}
.oxmod-wxiconlist .right-ic {
  float: right;
  font-style: normal;
  border-top: solid 1px #999;
  border-right: solid 1px #999;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  transform-origin: 0 100%;
  margin-right: 5px;
  margin-top: 5px;
}
.oxmod-wxiconlist ul {
  background-color: #efeff4;
  list-style: none;
  padding: 0;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
}
.oxmod-wxiconlist li {
  margin-left: 10px;
  padding: 1px 10px 1px 45px;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  border-bottom: solid 1px #ccc;
}
.oxmod-wxiconlist li img {
  vertical-align: middle;
  float: left;
  margin-left: -40px;
  max-width: 36px;
  max-height: 36px;
  margin-top: 2px;
}
.oxmod-wxiconlist li:last-child {
  border-bottom-style: none;
}
.oxmod-wxiconlist li a {
  display: block;
  width: 100%;
  color: #666;
  text-decoration: none;
}
